<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ asset('resources/css/app.css') }}">
    <script src="{{ asset('assets/app-BX0J_vn-.js') }}"></script>
    <title>
      AdonisJS - A fully featured web framework for Node.js
    </title>
  </head>
  <body>
    @include('pages/partials/nav')
    <h1>Roleskills: {{ fnfnrole.fn_name }} - {{ fnfnrole.role_name }}</h1>
    <div class="list-container">
        <table>
            <tr>
            <th>Fn ID</th>
            <th>Role No</th>
            <th>K/S</th>
            <th>Ks Name</th>
            <th>Ks ID</th>
            <th>Ks Definition</th>
            </tr>
            @each(roleskill in roleskills)
            <tr>
              <td>{{ roleskill.fnid }}</td>
              <td>{{ roleskill.roleno }}</td>
              <td>{{ roleskill.k_ss_gs }}</td>
              <td>{{ roleskill.ksname }}</td>
              <td>{{ roleskill.ksid }}</td>
              <td>{{ roleskill.ksdefinition }}</td>
            </tr>
            @endeach
        </table>
    </div>
    <p>
      For more information, visit the <a href="https://orgcap.co">official website</a>.
    </p>
  </body>
</html>
