* {
  margin: 0;
  padding: 0;
}

html,
  body {
    height: 100%;
    width: 100%;
  }
  
  nav {
  background-color: #81befa;
  padding: 10px;
  text-align: center;
}

h1 {
  color: #ce1b51;
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}

p {
  color: #160a83;
  font-size: 1.2rem;
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
}

.container {
  color: #160a83;
  font-size: 1.2rem;
  margin: 20px auto;
  max-width: 600px;
}

.list-container {
  color: #160a83;
  font-size: 1.2rem;
  list-style-type: none;
  padding: 0;
}
