    <nav>
      <a href="{{ route('home') }}">Home</a>
      <a href="{{ route('about') }}">About</a>
      <a href="{{ route('fnfnroles.index') }}">Fn-Fnroles</a>
      <a href="{{ route('roleskills.index') }}">Roleskills</a>
    </nav>